/* ---------- Default ---------- */
*
{
	font-family: "Lobster";
	overflow-x: hidden;
}

body
{
	/*CHANGED THIS BACKGROUND TO WHITE FOR HOVERING SIZE*/
	background: /*rgb(58,58,58)*/white;
	color: white;
	font-size: 4vh;
	margin: 0;
	text-align: center;;
}

a
{
	text-decoration: none;
}

img
{
	border-radius: 0.5rem;
	min-height: 5vw;
}

header
{
	background: black;
	padding: 1.5rem;
}

header h2
{
	margin: 0;
}

header h1
{
	background-color: rgba(58, 58, 58, 0.2);
	border: outset white;
	color: magenta;
	font-size: 5vw;
	margin: 5rem 5rem;
	padding: 5vw;
}

section ul
{
	display: inline-flex;
	list-style-type: none;
}

section
{
	background: white;
	color: gray;
	float: left;
	width: 50%;
}

section h1
{
	color: #333;
}

.product
{
	width: 100%;
	transition: 0.3s;
}

.product img
{
	border: solid;
	box-sizing: border-box;
	height: auto;
	margin: 1.5rem;
	width: 20vw;
	transition: 0.3s;
}

.product span
{
	color: black;
	font-size: 2vw;
	font-weight: bold;
	text-transform: uppercase;
}

.info-popup
{
	color: white;
	opacity: 0;
	max-width: 25%; 
	padding: 5%;
	position: absolute;
	text-align: center;
	transition: all 0.5s;
	transform: translate(0%,-129%);
	visibility: hidden;
}

.info-popup a
{
	background-color: rgba(255,255,255,0.7);
	border: solid black;
	border-radius: 5rem;
	color: black;
	font-size: 1vw;
	font-weight: bold;
	padding: 0.8rem;
}

.info-popup p
{
	background-color: rgb(58,58,58);
	border: ridge white 1vw;
	font-size: 2vw;
	font-weight: bold;
	max-height: 15vh;
	padding: 1rem;
}

.hide
{
	visibility: hidden;
}

footer
{
	background: black;
	clear: both;
	font-weight: bold;
	font-size: 2vw;
	justify-content: center;
	padding: 1.5rem;
	width: 100%;
}

footer a
{
	border: solid gray;
}

footer img
{
	transition: 0.15s;
	width: 5vw;
}

/* ---------- Counter-Timer-Style ---------- */

.countdown-timer
{
	background: url("../media/images/snow.jpg");
	background-size: cover;
}

.countdown-name
{
	color: black;
	display: flex;
	font-size: 7vw;
	justify-content: center;
}

.countdown-container
{
	color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.countdown-container li
{
	font-size: 6vw;
	margin: 0rem 1.5rem;
}

.countdown-container li span
{
	font-size: 4vw;
	margin: 1.5rem;
}

/*---------- Actions, Animations ----------*/

/* ---------- Default ---------- */

footer a:hover img
{
	width: 5.5vw;
}

.product:hover
{
	cursor: pointer;
	width: 200%;
}

.product:hover .info-popup
{
	opacity: 0.9;
	visibility: visible;
}

.product:hover img
{
	border-color: black;
}

li.product a:hover
{
	color: white;
	background-color: black;
}

/*---------- Media Queries ----------*/
@media screen and (max-width: 1100px)
{
	.product img
	{
		margin: 1rem;
	}
}

@media screen and (max-width: 900px)
{
	.product img
	{
		margin: 0.25rem;
	}

	.info-popup
	{
		transform: translate(0%,-140%);
	}
}

@media screen and (max-width: 700px)
{
	.info-popup a, p
	{
		display: flex;
		flex-flow: column;
	}

	section
	{
		width: 100%;
	}
}