*
{
	font-family: "Lobster";
	overflow-x: hidden;
}

body
{
	/*CHANGED THIS BACKGROUND TO WHITE FOR HOVERING SIZE*/
	background: /*rgb(58,58,58)*/white;
	color: white;
	font-size: 150%;
	margin: 0;
	text-align: center;
}

img
{
	border-radius: 0.5rem;
}

header
{
	background: black;
	opacity: 0.9;
	padding: 1.5rem;
	transition: 0.5s;
}

header h2
{
	margin: 0;
}

header img
{
	height: 90%;
	opacity: 0.5;
	width: 100%;
	border-radius: 15rem;
	transition: 0.5s;
}

nav
{
	display: flex;
	justify-content: center;
}

nav h1
{
	background-color: rgba(58, 58, 58, 0.2);
	border: outset white;
	color: red;
	font-size: 3.5rem;
	margin: 5rem 5rem;
	padding: 5vw;
}

section ul
{
	display: inline-flex;
	list-style-type: none;
}

section
{
	background: white;
	color: gray;
	float: left;
	opacity: 0.5;
	transition: 0.5s;
	width: 50%;
}

section h1
{
	color: #333;
}

.product
{
	width: 100%;
	transition: 0.3s;
}

.product img
{
	border: solid;
	box-sizing: border-box;
	height: auto;
	margin: 1.5rem;
	width: 50%;
}

.info-popup
{
	background-color: rgb(58,58,58);
	border: ridge 0.3rem black;
	border-radius: 1rem;
	color: white;
	opacity: 0;
	max-width: 25%;
	padding: 5%;
	position: absolute;
	text-align: center;
	transition: all 0.5s;
	transform: translate(-10%,-150%);
	visibility: hidden;
}

.info-popup a
{
	background-color: rgba(255,255,255,0.7);
	border: solid black;
	border-radius: 5rem;
	color: black;
	font-size: 1vw;
	font-weight: bold;
	padding: 0.8rem;
	text-decoration: none;
}

.info-popup p
{
	font-size: 2vw;
	font-weight: bold;
}

footer
{
	background: black;
	clear: both;
	padding: 1.5rem;
}

/*---------- Actions, Animations ----------*/
header:hover
{
	opacity: 1;
}

header img:hover
{
	opacity: 1;
}

section:hover
{
	opacity: 1;
}

.product:hover
{
	cursor: pointer;
	width: 200%;
}

.product:hover .info-popup
{
	opacity: 0.9;
	visibility: visible;
}

.product:hover img
{
	border-color: black;
	border-width: 0.5rem;
}

li.product a:hover
{
	color: white;
	background-color: black;
}

/*---------- Media Queries ----------*/
@media screen and (max-width: 1100px)
{
	.product img
	{
		margin: 1rem;
	}
}

@media screen and (max-width: 900px)
{
	.product img
	{
		margin: 0.5rem;
	}
}

@media screen and (max-width: 600px)
{
	.product img
	{
		margin: 0.25rem;
	}

	.info-popup a, p
	{
		display: flex;
		flex-flow: column;
	}

	section
	{
		width: 100%;
	}
}